.main-div {
    display: flex;
    margin: 15px 5px;

}

.right {
flex: 8;
 
    border-radius: 5px;

    background-color: white;
    box-shadow: 2px 8px 10px 6px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 2px 8px 10px 6px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 2px 8px 10px 6px rgba(0, 0, 0, 0.14);
}

.main-div .left .titile h6 {
    color: rgb(160, 156, 156);
    font-size: 15px;
}

.left {
flex: 2;
   
    border-radius: 5px;
    height: 800px;
    margin: 0 8px;
    min-width: 150px;

    background-color: white;
    box-shadow: 2px 8px 10px 6px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 2px 8px 10px 6px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 2px 8px 10px 6px rgba(0, 0, 0, 0.14);
}

.titile {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-top: 10px;
    font-size: 13px;


}

.titile ul li {
    list-style: none;
    margin-bottom: 10px;

}

.featurs {

    display: flex;
  width: 97%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 10px;
    justify-content: space-around;
}
.linechart{
    margin: 5px 10px 5px 0;
    height: 250px;
    width: 597px;
}

@media(max-width:768px) {
    .featurs {


        grid-template-columns: repeat(2, 1fr);


    }

    .titile {
        font-size: 12px;
    }
}

@media(max-width:568px) {
    .featurs {


        grid-template-columns: repeat(1, 1fr);



    }

    .left {
        display: none;
    }
}

.feature {
    padding: 20px 10px 10px 10px;

    border-radius: 8px;
    height: 130px;
    width: 100%;
    margin: 10px;


    box-shadow: 2px 8px 10px 6px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 2px 8px 10px 6px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 2px 8px 10px 6px rgba(0, 0, 0, 0.14);
}

.fRevenue {
    font-weight: 500;
    font-size: 14px;
}

.market {
    margin: 10px 0;
}

.market .reting {
    font-weight: bold;

}

.min-icon {
    font-size: 11px;
}

.feature-last {
    color: rgb(126, 122, 122);
    font-size: 12px;
}

.downArrow {
    margin-left: 6px;
    font-size: 13px;
}

.secomd-feature {


    width: 100%;
    display: grid;

    grid-template-columns: repeat(1, 1fr);

}

.rechart {
    padding: 20px 10px 10px 0px;

    border-radius: 8px;
 
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;


    box-shadow: 2px 8px 10px 6px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 2px 8px 10px 6px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 2px 8px 10px 6px rgba(0, 0, 0, 0.14);
}

.third-feature {
    display: flex;
    width: 100%;



}

.member {
    padding: 0px 10px 10px 0px;

    border-radius: 8px;
    height: 300px;
    width: 97%;
    margin: 10px;
    flex: 3;
    padding: 10px;


    box-shadow: 2px 8px 10px 6px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 2px 8px 10px 6px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 2px 8px 10px 6px rgba(0, 0, 0, 0.14);
}

@media(max-width:968px) {
    .third-feature {


        display: grid;
        grid-template-columns: repeat(1, fr);



    }
}

.member h4 {
    font-size: 21px;
}

.member1 {
    padding: 20px 10px 10px 10px;

    border-radius: 8px;
    height: 300px;
    width: 97%;
    margin: 10px;
    flex: 5;


    box-shadow: 2px 8px 10px 6px rgba(0, 0, 0, 0.14);
    -webkit-box-shadow: 2px 8px 10px 6px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 2px 8px 10px 6px rgba(0, 0, 0, 0.14);
}
@media(max-width:768px){
    .member1{
       flex: 8;
    }
}

.latest-member {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.displayEye {
    background-color: rgb(226, 200, 200);
    padding: 5px;
    border-radius: 5px;
}


.member-img img, .img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.developer {
    color: rgb(145, 133, 119);

    font-size: 13px;


}

.latest-member p {
    line-height: 20px;

}

.devo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgdata {
    display: flex;

}

.tabler {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.tabler button {
    border: none;
    padding: 3px 6px;
    border-radius: 3px;
    color: rgb(129, 129, 233);


}

.tableData {
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
}

.tableData th {
    padding-left: 10px;
}

.join-member span {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(138, 132, 132);
}

.join-member p {
    font-weight: 600;
    font-size: 16px;
}


.member-img {
    display: flex;
}